@import url("https://fonts.googleapis.com/css2?family=Urbanist&display=swap");
@font-face {
  font-family: 'Champagne & Limousines';
  src: url("../fonts/Champagne/subset-ChampagneLimousines.eot");
  src: url("../fonts/Champagne/subset-ChampagneLimousines.eot?#iefix") format("embedded-opentype"), url("../fonts/Champagne/subset-ChampagneLimousines.woff2") format("woff2"), url("../fonts/Champagne/subset-ChampagneLimousines.woff") format("woff"), url("../fonts/Champagne/subset-ChampagneLimousines.svg#Champagne&Limousines") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Champagne & Limousines';
  src: url("../fonts/Champagne_Bold/ChampagneLimousines-Bold.eot");
  src: url("../fonts/Champagne_Bold/ChampagneLimousines-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Champagne_Bold/ChampagneLimousines-Bold.woff2") format("woff2"), url("../fonts/Champagne_Bold/ChampagneLimousines-Bold.woff") format("woff"), url("../fonts/Champagne_Bold/ChampagneLimousines-Bold.svg#Champagne&Limousines-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #49271B;
  background-color: #FFF6E9;
}

.container--bg {
  background-color: #F8E6CD;
  padding: 40px 0;
}

h1.title {
  font-family: 'Champagne & Limousines';
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 115px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #49271B;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  margin: 0;
}

h1.title--right {
  text-align: right;
}

.title {
  font-family: 'Champagne & Limousines';
  font-style: normal;
  font-weight: bold;
  font-size: 90px;
  line-height: 104px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #49271B;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  margin: 0;
}

.title--right {
  text-align: right;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 999;
}

header nav {
  padding: 32px 0 88px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.58)), color-stop(59.9%, rgba(0, 0, 0, 0.5452)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.58) 0%, rgba(0, 0, 0, 0.5452) 59.9%, rgba(0, 0, 0, 0) 100%);
}

header nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

header nav ul a {
  display: block;
  text-decoration: none;
  font-family: 'Champagne & Limousines';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
  color: #FFFFFF;
  margin: 0 12px;
  -webkit-transition: .15s;
  transition: .15s;
}

header nav ul a:hover {
  opacity: .8;
}

header .logo {
  text-align: center;
  font-family: 'Champagne & Limousines';
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 46px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 20px 0 0 0;
}

.wow-screen {
  width: 100%;
  height: 100vh;
  margin: 0;
  min-height: 960px;
  background-color: #F8E6CD;
  position: relative;
  overflow: hidden;
}

.wow-screen .owl-carousel .owl-stage-outer {
  min-height: 960px;
  height: 100vh;
}

.wow-screen .owl-carousel .owl-stage-outer .item {
  width: 100%;
  padding-top: 133.3333333333333%;
  position: relative;
}

.wow-screen .owl-carousel .owl-stage-outer .item .item-img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.wow-screen .owl-carousel .owl-stage-outer .item .item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wow-screen .first-slide {
  -webkit-transform: translateX(22%) scale(1.5) !important;
          transform: translateX(22%) scale(1.5) !important;
}

.wow-screen .second-slide {
  -webkit-transform: scale(0.6) !important;
          transform: scale(0.6) !important;
  -webkit-filter: drop-shadow(15px 15px 50px rgba(0, 0, 0, 0.3)) !important;
          filter: drop-shadow(15px 15px 50px rgba(0, 0, 0, 0.3)) !important;
}

.wow-screen .owl-dots {
  margin: 72px 0;
}

.wow-screen .owl-dots .owl-dot {
  display: block;
  margin: 5px 0;
  outline: none;
  border: none;
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-transition: .15s;
  transition: .15s;
}

.wow-screen .owl-dots .owl-dot:hover, .wow-screen .owl-dots .owl-dot.active {
  background: white;
}

.wow-screen .slider-nav {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: 0em;
}

.wow-screen .slider-nav .slider-next {
  cursor: pointer;
}

.wow-screen .slider-nav .slider-prev {
  cursor: pointer;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.wow-screen .block-social {
  position: absolute;
  z-index: 990;
  bottom: 72px;
  right: 16%;
}

.wow-screen .block-social ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wow-screen .block-social ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  margin: 0 15px 0 0;
}

.block-text {
  background-color: #CAB08A;
  padding: 40px 48px;
  -webkit-box-shadow: 15px 15px 50px rgba(9, 0, 36, 0.3);
          box-shadow: 15px 15px 50px rgba(9, 0, 36, 0.3);
  position: relative;
  right: 8.33333333%;
}

.button {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #593829;
  padding: 10px 30px;
  border: 2px solid #49271B;
  margin: 70px 0 0 0;
}

.button--right {
  margin-left: auto;
  margin-right: 0em;
}

.about .button {
  -webkit-transform: translateX(220%);
          transform: translateX(220%);
  margin: 110px 0 0 0;
}

.about .block-text {
  margin: 120px 0 0 0;
}

.block-title {
  width: calc(100% + 16.66666667%);
  background-color: #CAB08A;
  padding: 40px 0;
  -webkit-box-shadow: 15px 15px 50px rgba(9, 0, 36, 0.3);
          box-shadow: 15px 15px 50px rgba(9, 0, 36, 0.3);
  position: relative;
  text-align: center;
}

.block-title--left {
  right: 16.66666667%;
}

.grid-gallery {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat(12, 1fr);
      grid-template-columns: repeat(12, 1fr);
  grid-gap: 12px;
  grid-auto-rows: 301px;
  grid-auto-flow: dense;
}

.grid-gallery .item {
  grid-column: span 3;
  grid-row: span 1;
  overflow: hidden;
}

.grid-gallery .item-vertical {
  grid-column: span 3;
  grid-row: span 2;
}

.grid-gallery .item-portrait {
  grid-column: span 6;
  grid-row: span 1;
}

.grid-gallery img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.title-insta {
  font-family: 'Champagne & Limousines';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 41px;
  text-transform: uppercase;
  color: #593829;
  text-align: center;
  margin: 110px 0 0 0;
}

.subtitle-insta {
  font-family: 'Champagne & Limousines';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #49271B;
  text-align: center;
}

footer {
  width: 96%;
  margin: 70px auto 0;
  padding: 30px 0;
  border-top: 1px solid #49271B;
  text-align: center;
  font-size: 14px;
  line-height: 19px;
}
/*# sourceMappingURL=style.css.map */